node-red/flows_raspberrypi.json
[{"id":"1fee60dc.191fff","type":"tab","label":"PiCar Auth"},{"id":"8cc8cd00.37ee","type":"tab","label":"PiCar Control","disabled":false},{"id":"e536286d.022a58","type":"tab","label":"PiCar Driver","disabled":false,"info":""},{"id":"32f33346.bc3b9c","type":"websocket-listener","z":"8cc8cd00.37ee","path":"/ws/picar","wholemsg":"false"},{"id":"acc22612.1a8258","type":"file in","z":"1fee60dc.191fff","name":"auth.html","filename":"/home/pi/.picar/www/auth.html","format":"utf8","sendError":true,"x":520,"y":140,"wires":[["aff0c571.204548"]]},{"id":"9d08714e.9b236","type":"function","z":"1fee60dc.191fff","name":"Get Submitted","func":"var driver = msg.payload.driver.toLowerCase();\nvar key = msg.payload.key;\n\nmsg.driver = driver;\n\nvar keyObject = {};\nkeyObject[driver] = key;\n\nmsg.payload = JSON.stringify(keyObject);\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":160,"wires":[["32ae2dc5.59e942"]]},{"id":"ab57849c.aa3bc8","type":"function","z":"1fee60dc.191fff","name":"Store Hash","func":"msg.key = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":240,"wires":[["b8ae7304.33a36"]]},{"id":"b8ae7304.33a36","type":"file in","z":"1fee60dc.191fff","name":"keys","filename":"/home/pi/.picar/www/keys","format":"utf8","sendError":true,"x":130,"y":280,"wires":[["812830b9.9fe19"]]},{"id":"812830b9.9fe19","type":"json","z":"1fee60dc.191fff","name":"","x":130,"y":320,"wires":[["b6755af4.76fc78"]]},{"id":"b6755af4.76fc78","type":"function","z":"1fee60dc.191fff","name":"Validate","func":"var keyRing = msg.payload;\nvar driver = msg.driver.toLowerCase();\nvar key = msg.key;\n\nif (keyRing[driver] && keyRing[driver] === key) {\n    keyobject = {};\n    keyobject[driver] = key;\n    msg.cookies = {\n        carkey: {\n            value: JSON.stringify(keyobject),\n            maxAge: 10*365*24*60*60*1000\n        }\n    }\n    msg.payload = 'succeeded';\n    return msg\n}\nmsg.payload = 'failed';\nreturn msg;","outputs":"1","noerr":0,"x":140,"y":360,"wires":[["3b5b91b6.7d3a4e"]]},{"id":"3b5b91b6.7d3a4e","type":"http response","z":"1fee60dc.191fff","name":"","x":270,"y":360,"wires":[]},{"id":"aff0c571.204548","type":"http response","z":"1fee60dc.191fff","name":"","x":650,"y":140,"wires":[]},{"id":"d82fa1aa.d92c7","type":"http in","z":"1fee60dc.191fff","name":"","url":"/picar","method":"get","upload":false,"swaggerDoc":"","x":360,"y":120,"wires":[["3bd7d0a7.acf3a"]]},{"id":"78b167b4.a9f548","type":"function","z":"e536286d.022a58","name":"Get Submitted","func":"msg.driver= msg.payload.driver;\nvar keyobject = {};\nkeyobject[msg.driver] = msg.payload.key;\nmsg.payload = JSON.stringify(keyobject);\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":100,"wires":[["16f254da.af2e9b"]]},{"id":"abdf6535.c50fa8","type":"function","z":"e536286d.022a58","name":"Save Cred","func":"var driver = msg.driver;\nvar key = msg.key;\n\nvar keyring = msg.payload || {};\nkeyring[driver] = key;\n\nmsg.payload = JSON.stringify(keyring);\nreturn msg;","outputs":"1","noerr":0,"x":170,"y":380,"wires":[["1c3a89fe.3c8ea6"]]},{"id":"1c3a89fe.3c8ea6","type":"file","z":"e536286d.022a58","name":"Put keys","filename":"/home/pi/.picar/www/keys","appendNewline":true,"createDir":false,"overwriteFile":"true","x":160,"y":420,"wires":[]},{"id":"446b2f1.a7503d","type":"file in","z":"e536286d.022a58","name":"Get keys","filename":"/home/pi/.picar/www/keys","format":"utf8","sendError":true,"x":160,"y":300,"wires":[["b7a6615f.8451c"]]},{"id":"b7a6615f.8451c","type":"json","z":"e536286d.022a58","name":"","x":150,"y":340,"wires":[["abdf6535.c50fa8"]]},{"id":"8506b8c2.b64d08","type":"inject","z":"e536286d.022a58","name":"","topic":"","payload":"{\"driver\":\"\",\"key\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":60,"wires":[["78b167b4.a9f548"]]},{"id":"a6603349.42ce1","type":"file in","z":"1fee60dc.191fff","name":"keys","filename":"/home/pi/.picar/www/keys","format":"utf8","sendError":true,"x":350,"y":200,"wires":[["92e3b880.587308"]]},{"id":"92e3b880.587308","type":"json","z":"1fee60dc.191fff","name":"","x":350,"y":240,"wires":[["4fa6a0c2.68daa"]]},{"id":"4fa6a0c2.68daa","type":"function","z":"1fee60dc.191fff","name":"Validate","func":"var keyring = msg.payload;\nvar submitted = msg.submitted;\nvar driver = Object.keys(submitted)[0].toLowerCase();\n\nvar key = submitted[driver];\n\nif (keyring[driver] && keyring[driver] === key) {\n    return [null, msg];\n}\n\nreturn [msg, null];\n","outputs":"2","noerr":0,"x":360,"y":280,"wires":[["eba92dae.3e76e"],["ea78a51.6065e58"]]},{"id":"eba92dae.3e76e","type":"file in","z":"1fee60dc.191fff","name":"auth.html","filename":"/home/pi/.picar/www/auth.html","format":"utf8","sendError":true,"x":500,"y":260,"wires":[["7a0630ad.57f1d"]]},{"id":"7a0630ad.57f1d","type":"http response","z":"1fee60dc.191fff","name":"","x":630,"y":280,"wires":[]},{"id":"54124946.bfd8e8","type":"websocket in","z":"8cc8cd00.37ee","name":"","server":"32f33346.bc3b9c","client":"","x":150,"y":200,"wires":[["9ebd8f9d.38da"]]},{"id":"9ebd8f9d.38da","type":"json","z":"8cc8cd00.37ee","name":"","x":290,"y":200,"wires":[["1bfe69cb.9c2b36"]]},{"id":"1bfe69cb.9c2b36","type":"function","z":"8cc8cd00.37ee","name":"","func":"var m = msg.payload;\n\nvar dmv = context.global.get('dmv')||{};\nvar license = m.License;\nvar now = (new Date()).getTime();\nif(dmv[license] + 300000 < now){\n    msg.payload = \"Connection Timeout\";\n    return [null, null, null, null, msg];\n}\n\nvar thrust = 'Idle';\nvar yaw = 'Straight';\n\nif(m.Forward == 1 && m.Reverse == 1){\n    m.Forward = 0;\n    m.reverse = 0;\n}\nif(m.Left == 1 && m.Right == 1){\n    m.Right = 0;\n    m.Left = 0;\n}\nif(m.Forward == 1){thrust = 'Forward';}\nif(m.Reverse == 1){thrust = 'Reverse';}\nif(m.Left == 1){yaw = 'Left';}\nif(m.Right == 1){yaw = 'Right';}\n\nvar text = thrust + ' ' + yaw;\n\nreturn [{payload: m.Forward},\n        {payload: m.Reverse},\n        {payload: m.Left},\n        {payload: m.Right},\n        {payload: text}];","outputs":"5","noerr":0,"x":410,"y":200,"wires":[["41fb4523.00becc"],["86393fb4.c8342"],["5cb79342.dd7d1c"],["e2b0e06c.1d6c"],["f8b5c537.a5adb8"]]},{"id":"f8b5c537.a5adb8","type":"websocket out","z":"8cc8cd00.37ee","name":"","server":"32f33346.bc3b9c","client":"","x":580,"y":280,"wires":[]},{"id":"41fb4523.00becc","type":"rpi-gpio out","z":"8cc8cd00.37ee","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":560,"y":120,"wires":[]},{"id":"5cb79342.dd7d1c","type":"rpi-gpio out","z":"8cc8cd00.37ee","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":600,"y":200,"wires":[]},{"id":"86393fb4.c8342","type":"rpi-gpio out","z":"8cc8cd00.37ee","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":580,"y":160,"wires":[]},{"id":"e2b0e06c.1d6c","type":"rpi-gpio out","z":"8cc8cd00.37ee","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":580,"y":240,"wires":[]},{"id":"ea78a51.6065e58","type":"file in","z":"1fee60dc.191fff","name":"main.html","filename":"/home/pi/.picar/www/main.html","format":"utf8","sendError":true,"x":500,"y":300,"wires":[["7a0630ad.57f1d"]]},{"id":"2da48ba9.6645b4","type":"http in","z":"1fee60dc.191fff","name":"","url":"/picar","method":"post","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["9d08714e.9b236"]]},{"id":"3bd7d0a7.acf3a","type":"function","z":"1fee60dc.191fff","name":"Get Cookie","func":"var c = msg.req.cookies;\nif (c.carkey){\n    msg.payload = c.carkey;\n    msg.submitted = JSON.parse(c.carkey);\n    return [null, msg];\n}\nreturn [msg, null]","outputs":"2","noerr":0,"x":370,"y":160,"wires":[["acc22612.1a8258"],["a6603349.42ce1"]]},{"id":"d1f7af12.d2379","type":"function","z":"e536286d.022a58","name":"Get Cred","func":"msg.key = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["b1af3d39.bc287"]]},{"id":"b1af3d39.bc287","type":"file-exists","z":"e536286d.022a58","name":"Check keys","filename":"/home/pi/.picar/www/keys","x":170,"y":220,"wires":[["4d81c141.92f8e"]]},{"id":"4d81c141.92f8e","type":"function","z":"e536286d.022a58","name":"keys Exists","func":"if(!msg.payload){\n    return [{payload:'{}'}, null]\n}\nreturn [null, msg];","outputs":"2","noerr":0,"x":170,"y":260,"wires":[["2acfe82d.167398"],["446b2f1.a7503d"]]},{"id":"2acfe82d.167398","type":"file","z":"e536286d.022a58","name":"Make keys","filename":"/home/pi/.picar/www/keys","appendNewline":true,"createDir":false,"overwriteFile":"false","x":360,"y":260,"wires":[]},{"id":"32ae2dc5.59e942","type":"hmac","z":"1fee60dc.191fff","name":"","algorithm":"HmacSHA512","key":"Q43!0T!n&2Gx07Zs#IC%nx9JrXum0BW2","x":130,"y":200,"wires":[["ab57849c.aa3bc8","6b61a7a8.72bb18"]]},{"id":"16f254da.af2e9b","type":"hmac","z":"e536286d.022a58","name":"","algorithm":"HmacSHA512","key":"Q43!0T!n&2Gx07Zs#IC%nx9JrXum0BW2","x":150,"y":140,"wires":[["d1f7af12.d2379","c61bb8a9.13fa48"]]},{"id":"c61bb8a9.13fa48","type":"debug","z":"e536286d.022a58","name":"","active":true,"console":"false","complete":"false","x":381,"y":143,"wires":[]},{"id":"6b61a7a8.72bb18","type":"debug","z":"1fee60dc.191fff","name":"","active":true,"console":"false","complete":"false","x":304,"y":453,"wires":[]}]